
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="entrepriseSearch" placeholder="Rechercher par entreprise">
</div>


<div class="card-deck">
  <div class="card" *ngFor="let emploi of listeEmploi">
    <div *ngIf="!entrepriseSearch || emploi.entreprise.includes(entrepriseSearch)">
      <div class="card-body">
        <h5 class="card-title">{{ emploi.titre }}</h5>
        <p class="card-text">Reference: {{ emploi.reference }}</p>
        <p class="card-text">Entreprise: {{ emploi.entreprise }}</p>
        <button class="btn btn-primary" [disabled]="!emploi.etat">Postuler</button>
      </div>
    </div>
  </div>
</div>

<div>
  <button class="btn btn-primary btn-lg mt-3" (click)="count()">Bilan</button>
  <!--<p>Nombre des offres d'emploi non cloturées : {{count()}}</p>-->
  <label class="text-info my-3">
    Nombre d'offres d'emploi non clôturées : <span class="font-weight-bold">{{ result }}</span>
  </label>
</div>
