<div>
  <div class="form-group">
    <label >Nombre total d'articles : </label>
    <input type="number" [(ngModel)]="limit" (ngModelChange)="updateLimit()" min="0">
  </div>

  <br>
  <br>

  <div *ngFor="let article of listeArticles | slice:0:limit">
    <div *ngIf="article.categorie !== 'Travail'">
      <div [ngClass]="{'education-class': article.categorie === 'Education'} ">
        <h3>{{ article.titre }}</h3>
        <p>{{ article.contenu }}</p>
        <p>Auteur: {{ article.auteur }}</p>
        <p>Date: {{ article.date }}</p>
        <p>Catégorie: {{ article.categorie }}</p>
      </div>
    </div>
  </div>
</div>
